input.form-submit.image-button {
  padding: 0;
  border: 0;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  display: block;
}
#edit-mojeid-identifier {
  background-image: url("img/mojeid_login.png");
  background-position: 0% 50%; /* LTR */
  background-repeat: no-repeat;
  padding-left: 23px; /* LTR */
  margin:0;
}
#edit-mojeid-identifier-wrapper {
  display: block;
}
html.js #user-login-form div.form-item-mojeid-identifier,
html.js #user-login div.form-item-mojeid-identifier {
  display: none;
}
html.js #user-login-form li.mojeid-link,
html.js #user-login li.mojeid-link {
  display: block;
  list-style: none;
}
#user-register-form ul li.mojeid-link {
  list-style: none
}
#user-login-form ul {
  margin-top: 0;
}
#user-register-form ul, #user-login ul {
  padding: 0;
  margin: 0 0 5px;
}
#user-register-form ul li, #user-login ul li {
  margin: 0;
}
#user-login-form li.mojeid-link,
#user-login-form li.mojeid-user-link,
#user-login li.mojeid-link,
#user-login li.mojeid-user-link {
  display: none;
}
#user-login-form li.mojeid-link a,
#user-login li.mojeid-link a,
#user-register-form li.mojeid-link a{
  background-image: url("img/mojeid_login_small.png");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  padding: 3px 0 0 24px;
}
.mojeid-login-img {
  display: block;
  margin-top: 1em;
}
#user-login #edit-submit {
  margin-top: 0.5em;
}
#edit-mojeid-direct-login {
  display: block;
  margin-top: 0.5em;
}
div.form-type-radio.form-item-mojeid-banner-type {
  float: left;
  margin-left: 1em;
  display: block;
  width: 90px;
  height: 90px;
}
div.form-item-mojeid-banner-size {
  clear: both;
}
